.bgt{
    background-color: #BF5486;
}

.product {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.product.visible {
    opacity: 1;
}
.image-size {
    width: 250px; /* Defina a largura desejada */
    height: 250px; /* Defina a altura desejada */
    object-fit: cover; /* Mantém a proporção e corta o que exceder */
}
/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}